---
layout: default
title: "Welcome"
---

 <figure>
        <img src="/assets/images/placeholder.png" width="800" height="600"/>
 </figure>



This site features some random thoughts about computer science and technology, and gives an overview of my profilr.
This is my personal webpage. The opinions expressed here represent my own.

<div class="content">
  {% include pagination-newer.html %}

  {{ content }}

  {% for post in paginator.posts %}
  <article class="post-body">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    {% include post-meta.html post=post %}
  </article>
  {% endfor %}

  {% include pagination-older.html %}
</div>
